<div class="main-div">
  <mat-card>
    <div *ngIf="!hasStarted">
      <img class="logo" src="assets/img/logo.png" alt="Man screaming">
      <h1>Can you guess if the dude is at the gym or having a sexual intercourse ? <br/>(Warning NSFW sounds)</h1>
      <br/><br/>
      <button class="center-button big-button" mat-raised-button color="accent" (click)="startGame()">Play</button>
    </div>
    <div *ngIf="hasStarted && !hasLost">
      <audio id="audioPlayer" controls src="assets/audio/shout_{{ currentSoundNumber }}.mp3" autoplay>
        Your browser does not support the audio element.
      </audio>
      <h2>Your score is : {{ score }}</h2>
      <br/><br/>
      <div class="buttons-container">
          <button class="big-button" mat-raised-button color="warn" (click)="pickedGym()">Gym</button>
          &nbsp;
          <button class="big-button" mat-raised-button color="primary" (click)="pickedSex()">Sex</button>
      </div>
    </div>
    <div *ngIf="hasLost">
      <h1>Your final score is : {{ score }}</h1>
      <p><a href="https://twitter.com/share?text=I've correctly identified {{ score }} man shout(s), can you do better ?&hashtags=GymOrSex&url=https://alexandrress.github.io/gym-or-sex/" mat-raised-button color="accent">Share on Twitter !</a></p>
      <br/><br/>
      <div class="buttons-container">
        <button class="big-button" mat-raised-button color="accent" (click)="replay()">Replay</button>
        &nbsp;
        <button class="big-button" mat-raised-button color="accent" (click)="goBackToMenu()">Menu</button>
    </div>
    </div>
  </mat-card>
</div>
<footer class="footer">
  By Alexandress&nbsp;
</footer> 